
.vv-font-times {
    font-family: 'Times New Roman', Times, serif;
}

.vv-font-inconsolata {
    font-family: 'Inconsolata', monospace;
}

.vv-size-14 {
    font-size: 14px;
}

.vv-size-18 {
    font-size: 18px;
}

.vv-size-24 {
    font-size: 24px;
}

.vv-align-center {
    text-align: center;
}

.vv-align-right {
    text-align: right;
}

.vv-align-justify {
    text-align: justify;
}